extends ../layout

append body
    include ../navbar
    .columns.is-marginless
        .column.is-2
            aside.menu#sticky-menu
                p.menu-label General
                ul.menu-list
                    li: a(href='/admin/dashboard') 대쉬보드
                    li: a.is-active 공지사항
                    li: a(href='/admin/settings') 설정
        .column
            .section
                p.title.is-size-1 공지사항
                form(method='POST'): .media
                    .media-left
                        figure.image.is-64x64
                            img(src='/logo.png')
                    .media-content
                        .field
                            p.control
                                textarea.textarea(name='message')
                        .field
                            p.control
                                button.button#submit 제출
            .section
                each notice in notices
                    .box.notice-box(id=`notice-${notice.id}`)
                        article.media
                            .media-left
                                figure.image.is-64x64
                                    img(src='/logo.png')
                            .media-content
                                .content
                                    p
                                        strong 관리자 
                                        small= notice.time
                                        br
                                        | #{notice.message}
                            .media-right
                                button.delete

append script
    script(src='/notice.bundle.js')
