extends ../layout

append body
    include ../navbar
    .columns.is-marginless
        .column.is-2
            aside.menu#sticky-menu
                p.menu-label General
                ul.menu-list
                    li: a(href='/admin/dashboard') 대쉬보드
                    li: a.is-active 공지사항
                    li: a(href='/admin/settings') 설정
append script
    script(src='/admin.bundle.js')
