extends page

append contents
    .hero.is-fullheight(style='background: url(https://www.dimigo.hs.kr/files/attach/images/4985139/141/985/004/9f28a0c7a1c3d6425e5187a55d4d8d2b.JPG) center / cover')
        .hero-body
            .container.has-text-centered
                h1.title.has-text-white(style='font-size: 3rem;') 2017년 창의 IT 공모전
                .button.is-danger.is-outlined.is-large 신청하기
append script
    script(src='/index.bundle.js')