extends page

append contents
    .hero.is-fullheight#main-hero
        .hero-body
                .container.has-text-white.has-text-centered
                    h1.title.has-text-white 2017 창의 IT 공모전
                    h3.subtitle.has-text-white 2017년 11월 1일 - 2017년 11월 30일
                    a.button.is-danger.is-outlined.is-large.has-text-white#submit-link-btn(href='/submit') 신청하기
append script
    script(src='/index.bundle.js')