extends layout

append body
    header: include navbar
    .hero#main-hero
        .hero-body
            .container.has-text-centered(style='top: -5rem;')
                p.title.has-text-white 2017 창의 IT 공모전
                p.subtitle.has-text-white 2017년 11월 1일 - 2017년 11월 30일
                a.button.is-large#submit-link-btn(href='/submit') 신청하기
    section.has-text-centered.is-flex#notice: .container.slim#notice-container
        h2.subtitle.is-size-2 공지사항
        each notice in notices
            .box
                article.media
                    .media-left
                        figure.image.is-64x64
                            img(src='/logo.png')
                    .media-content
                        .content
                            p
                                strong
                                  | 관리자 
                                small= notice.time
                                br
                                | #{notice.message}
append script
    script(src='/index.bundle.js')
