doctype html

html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 창의 IT 공모전
    meta(property='og:type', content='website')
    meta(property='og:title', content='창의 IT 공모전')
    meta(property='og:description', content='2017 한국디지털미디어고등학교 창의 IT 공모전 접수 페이지')
    link(rel='stylesheet', type='text/css', href='/dist/bundle.css')
    block stylesheets

  body
    block body
    script(src='/dist/bundle.js')