extends layout

append body
    nav.navbar.has-shadow(style='position: fixed; z-index: 2; width: 100vw;'): .container
        .navbar-brand
            a.navbar-item(href='/')
                img(src='https://contest.dimigo.hs.kr/static/img/logo_text.png?ver=0.0.2')
        .navbar-menu.nav-right
            unless user.isAnonymous
                .navbar-item= `${user.fullName}님 환영합니다`
                .navbar-item: .button.is-danger.is-outlined 로그아웃
            else
                .button.navbar-item 로그인
    block contents