extends page

append contents
    .container.section
        .field.is-horizontal
            .field-label
                label.label 팀명
            .field-body
                .field
                    .control
                        input.input
        .field.is-horizontal
            .field-label
                label.label 팀장
            .field-body
                .field
                    .control.is-expanded
                        input.input(value='1410', disabled)
                .field
                    .control.is-expanded
                        input.input.is-disabled(value='박성민', disabled)
                .field
                    p.control.is-expanded
        .field.is-horizontal
            .field-label.is-normal
                label.label 팀원
            .field-body
                .field
                    p.control
                        input.input(placeholder='학번')
                .field
                    p.control
                        input.input(placeholder='이름')
                .field
                    p.control
                        button.button(type='button', style='width: 200px') -
        .field.is-horizontal
            .field-label
            .field-body
                .field
                    p.control
                        input.input(placeholder='학번')
                .field
                    p.control
                        input.input(placeholder='이름')
                .field
                    p.control
                        button.button(type='button') -
        .field.is-horizontal
            .field-label
            .field-body
                .field
                    p.control
                        input.input(placeholder='학번')
                .field
                    p.control
                        input.input(placeholder='이름')
                .field
                    p.control
                        button.button(type='button') -
        .field.is-horizontal
            .field-label
            .field-body
                .field
                    p.control
                        input.input(placeholder='학번')
                .field
                    p.control
                        input.input(placeholder='이름')
                .field
                    p.control
                        button.button(type='button') -
        .field.is-horizontal
            .field-label
            .field-body
                button.button(type='button') +

append script
    script(src='/submit.bundle.js')