extends page

append contents
    .container.section
        .field.is-horizontal
            .field-label
                label.label 팀명
            .field-body
                .field.is-narrow
                    .control
                        input.input.is-fullwidth
        .field.is-horizontal
            .field-label
                label.label 팀장
            .field-body
                .field
                    .control
                        input.input(value='1410', disabled)
                .field
                    .control
                        input.input.is-disabled(value='박성민', disabled)
        .field.is-horizontal
            .field-label.is-normal
                label.label 팀원
            .field-body
                .field
                    p.control
                        input.input(placeholder='학번')
                .field
                    p.control
                        input.input(placeholder='이름')
        .field.is-horizontal
            .field-label
            .field-body
                button.button(type='button') 팀원 추가

append script
    script(src='/submit.bundle.js')