extends page

append contents
  .hero.is-large
    .hero-body
      .container.has-text-centered
        p.title(style='color: #cccccc')
          | (〃´∀｀)
        p.subtitle(style='margin-top: 0px')
          | 제출되었습니다. 접수 마감 전까지는 언제든지 수정 가능합니다.
        a.button.is-medium(href="/")
          | 메인 메뉴로 돌아가기