@import 'initialize';
@import '~bulma/bulma';

.title {
  font-weight: 500 !important;
}

.container.slim {
  @include from($desktop) {
    max-width: $desktop - (4 * $gap);
    width: $desktop - (4 * $gap);
  }
}

.content table td, .content table th {
  vertical-align: middle;
}

.table td, .table th {
  vertical-align: middle;
}