@import '~bulma/sass/utilities/initial-variables';
$pink: #ff8e8e;
$pink-invert: #fff2ed;

$primary: $pink;
$primary-invert: $pink-invert;

$family-primary: 'Noto Sans Korean', 'Segoe UI', sans-serif;