#navbar {
  z-index: 100;
  @include from($desktop) {
    background: transparent;
  }
  & > .container {
    @include from($desktop) {
      background: $white;
      border-radius: 0px 0px 60px 60px;
      padding: 0 3rem 0 3rem;
    }
  }
}
