body {
  &.in-transition {}
}

.title {
  font-weight: 700 !important;
  @include mobile {
    font-size: 9vw;
  }
  @include tablet {
    font-size: 5vw;
  }
  @include desktop {
    font-size: 4rem;
  }
  &:not(::last-child) {
    margin-bottom: 2rem;
  }
}

.subtitle {
  @include mobile {
    font-size: 5vw;
  }
  @include tablet {
    font-size: 3vw;
  }
  @include desktop {
    font-size: 2rem;
  }
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

#main-hero {
  height: 85vh;
  background: url("/background.svg") center / cover;

  .hero-body {
    display: flex;
    align-items: center;
  }
}

#submit-link-btn {
  color: #fff;
  border: 2px solid #ffffff;
  background-color: transparent;
  transition: .5s all;

  &:hover {
    color: $primary;
    background-color: $white;
    border-color: white;
  }
}

#notice-container {
  padding: 1.1rem 1rem 2rem 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: .9rem 0 .9rem 0;
  background: #fff;
  border-radius: 30px;
}

#notice {
  justify-content: center;
  background: $white-bis;
  min-height: 100vh;
  background: #f8f8f8;
}

#logout-btn {
  border: solid 1.5px #fff;
}

#login-btn {
  border: solid 1.5px #fff;
}

.notice-card {
  animation: 1s ease-in;
  margin-top: 40px;
}
