@import './initialize';

.title {
  font-weight: 600;
  @include mobile {
    font-size: 9vw;
  }
  @include tablet {
    font-size: 5vw;
  }
  @include desktop {
    font-size: 4rem;
  }
}

.subtitle {
  @include mobile {
    font-size: 5vw;
  }
  @include tablet {
    font-size: 3vw;
  }
  @include desktop {
    font-size: 2rem;
  }
}

.subtitle:not(:last-child), .title:not(:last-child) {
  margin-bottom: 3rem;
}

#main-hero {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png) center / cover;
}


#submit-link-btn {
  color: #fff;
  border: 2px solid #ffffff;
  background-color: transparent;
  @include desktop {
    width: 10vw;
  }
  transition: .5s all;
}

#submit-link-btn:hover {
  color: $primary;
  background-color: $white;
  border-color: white;
}

#notice {
  background: $white-bis;
}

.notice-card {
  animation: 1s ease-in;
  margin: 40px 0 0 40px;
  min-height: 200px;
  & .content p {
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
  }
}