.char {
  display: inline-block;
  font-size: 15vw;
  margin-bottom: 8rem !important;
  transform: translateX(-1.5vw);
}

.hand {
  display: inline-block;
  
  &.left {
    animation: cute-hands 0.5s infinite alternate ease-in;
    transform-origin: bottom right;
  }
  
  &.right {
    animation: cute-hands 0.5s infinite alternate ease-out;
    transform-origin: bottom left;
  }
}

.cheek {
  display: inline-block;

  &.left {
    animation: cute-cheek 0.1s infinite alternate steps(2);
  }

  &.right {
    animation: cute-cheek 0.1s infinite alternate steps(2);
  }

}

.eye {
  display: inline-block;
  animation: cute-eye 0.4s infinite alternate ease-in-out;
}

.nose {
  display: inline-block;
  animation: cute-nose 0.6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes cute-hands {
  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(30deg);
  }
}

@keyframes cute-eye {
  from {
    transform: translate(10px, 1px) rotate(10deg);
  }

  to {
    transform: translate(10px, 0) rotate(30deg);
  }
}

@keyframes cute-nose {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

@keyframes cute-cheek {
  from {
    transform: translateX(-2px);
  }

  to {
    transform: translate(2px);
  }
}