extends layout

append body
    .hero.is-fullheight.is-danger
        .hero-body: .container.has-text-centered
            a.title.char(href='/')
                span.cute-left ヽ
                | (
                span.cute-eye ﾟ
                span.cute-nose Д
                span.cute-eye ﾟ
                | )
                span.cute-right ﾉ
            h2.subtitle= `아라코`