extends layout

append body
    .hero.is-fullheight.is-danger
        .hero-body: .container.has-text-centered
            a.title.char(href='https://github.com/a1p4ca')
                span.hand.left ヽ
                span.cheek.left (
                span.eye ﾟ
                span.nose Д
                span.eye ﾟ
                span.cheek.right )
                span.hand.right ﾉ
            h2.subtitle= `머머리빔`